<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container" ng-controller="docsController">
    <h1>Hello 3</h1>
	<div ng-repeat="(versionKey, version) in api track by $index">
        <hr>
        <h1>API {{versionKey}}</h1>
        <button ng-click="alert(version.changelog)">Change Log</button>
        <div ng-repeat="(apiKey, apiSet) in version.api">
        	<h2>{{apiKey}}</h2>
        	<div class="row" ng-repeat="apiCall in apiSet">
                <h4 class="col-md-1">{{apiCall.method}}</h4>
        		<h4 class="col-md-3">{{apiCall.url}}</h4>
        		<h4 class="col-md-8">{{apiCall.description}}</h4>
        	</div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.ini.js"></script>
</body>
</html>