@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-Regular.ttf) format('truetype');
}

/*
@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-ExtraLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Regular.ttf);
    font-weight: 600;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Medium.ttf);
    font-weight: 700;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Medium.ttf);
    font-weight: 800;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Medium.ttf);
    font-weight: 900;
}

@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Heavy.ttf);
    font-weight: bolder;
}
*/

html, body{
    font-family: oswald;
}

/* HEADER */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    background-color: #e9ece2;
    border-top: 3px solid #f5f6ef;
    border-bottom: 3px solid #f5f6ef;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.wrapper{
    margin: 0 auto;
    width: 1170px;
    overflow: auto;
}
.left{
    float: left;
}
.left a{
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    color: #333;
    text-shadow: 2px 2px 1px #fff;
    text-transform: uppercase;
    vertical-align: text-top;
}
.left img{
    vertical-align: baseline;
}
.right {
    float: right;
    font-weight: lighter;
    font-size: 18px;
}
.right ul{
    margin-right: 10px;
    float: left;
    display: inline-block;
    list-style: none;
    overflow: auto;
    margin: 0;

}
.right ul li{
    float: left;
}
.right ul li a{
    text-transform: uppercase;
    float: none;
    padding: 10px 15px 10px;
    color: #53564e;
    text-decoration: none;
    text-shadow: 0 1px 0 #eff1e8;
    display: block;
    line-height: 20px;
}
.active a{
    color: #555555;
    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #dce0cf;
}
.top_control{
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    display: inline-block;
}
.top_control a{
    float: right;
    padding: 3px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
}
#btnLogin{
    margin-left: 15px;
}
/* finish HEADER */

/* FOOTER */
#pre-footer{
  padding: 30px 0px;
  background: #92a298 url(../images/slider-noise-bg.jpg) left top repeat;
  border-top: 10px solid #7c8f83;
}
#pre-footer .span{
  width: 30.3%;
  margin-left: 3%;
  padding: 0;
  text-align: left;
  float: left;
}
#pre-footer .footer-logo {
    margin-bottom: 15px;
}
#pre-footer .footer-logo a{
  line-height: 28px;
  font-size: 32px;
  font-weight: 300;
  color: #c4c7be;
  text-transform: uppercase;
  border-bottom: 5px solid #839188;
}
#pre-footer .footer-logo strong {
color: #fff;
font-weight: 400;
}
#pre-footer ul{
list-style: none;
margin-left: 0px;
padding: 0;
}
#pre-footer ul.footer-address li {
color: #fff;
text-transform: uppercase;
}
#pre-footer ul.footer-address li strong {
color: #c9d3cd;
font-weight: normal
}
#pre-footer .footer-header {
font-size: 24px;
border-bottom: 5px solid #8c9a91;
padding-bottom: 10px;
margin-top: 0px;
color: #fff;
font-weight: 300;
text-transform: uppercase;
}
#pre-footer .footer-list {
list-style: square;
color: #fff;
margin: 0 0 10px 25px;
}
.footer-list li {
margin-bottom: 10px;
}
.footer-list li a {
color: #fff;
font-size: 16px;
}
.span-li{
float: left;
margin-top: 5px;
margin-bottom: 15px;
width: 46%;
line-height: 20px;
margin-left: 4%;
}
.footer-img-list {
overflow: auto;
margin-top: -5px;
margin-left: -4% !important;
}
.thumbnail {
display: block;
border-radius: 0;
padding: 4px;
line-height: 20px;
background-color: #FFF;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
background-color: #fafbf7;
margin-bottom: 0;
}
.thumbnail:hover{
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
}
.holder-for-icons{
  line-height: 23px;
  font-size: 16px;
}
#footer{
  background-color: #6c7065;
  padding: 20px 0px;
  border-top: 2px solid #5a5e54;
}
#footer .span:first-child{
  float: left;
  width: 60%;
  padding: 0;
  margin-left: 3%;
  text-align: left;
}
  #footer .span:nth-child(2){
  width: 30%;
  margin-left: 7%;
  padding: 0;
  text-align: left;
  float: left;
  }
  .copyright{
  color: #cccccc;
  text-transform: uppercase;
  }
/* ------------------------------------------ */

#btnHelp{
position: fixed;
line-height: normal;
bottom: 15px;
right: 20px;
color: #fff;
background-color: #3acfef;
padding: .6em 1.2em;
text-transform: uppercase;
font-weight: 700;
border: .2em solid currentColor;
color: #fff;
background-color: #3acfef;
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
outline: 0;
cursor: pointer;
-webkit-transition: box-shadow .1s;
transition: box-shadow .1s;
margin: 5px;
z-index: 1000;
}
#btnHelp:hover{
box-shadow: 0 1.5px 4px rgba(0,0,0,.12),0 1.5px 6px rgba(0,0,0,.06);
}
